
.card {
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.932);
}

img {
    border-radius: 5px 5px 0 0;
  }

.card{
  display: block;
  margin-bottom: 30px;
  margin-left: 15px;
}


#pagination{
 background-color:grey;
}

.scrolling-wrapper{
  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
  display:flex;
  flex-wrap: nowrap;
}

.scrolling-wrapper .card{
  min-width: 200px;
  max-width: 200px;
  margin-right: 2px;
}

