<span>&nbsp;</span>
<div style="width: auto;" class="container ">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-10" *ngFor="let movie of (shows | sortByRating) | paginate: config">
            <div class="card " style="text-align: center;">
                <a routerLink="/show-details/{{movie.id}}">
                    <img class="card-img-top" src={{movie.image.medium}} class="img-fluid" alt="{{movie.name}}">
                </a>
                <h5 class="card-title" style="text-align: center;">{{movie.name}}</h5>
                <p>Rating: {{movie.rating.average}} / 10.0</p>
            </div>
        </div>
        <div class="row">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <span>&nbsp;</span>
    </div>
    <div style="text-align: center;">
        <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>