<span>&nbsp;</span>
<div class="container" *ngIf="display">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{show.image.medium}}" class="img-fluid" alt="{{show.name}}" width="300" height="350">
        </div>
        <div class="col-lg-8" style="color: aliceblue;">
            <span>&nbsp;</span>
            <h3 style="text-align: center;">{{show.name}}</h3>
            <p innerHTML={{show.summary}} style="text-align: justify;"></p>
            <p *ngIf="show.genres.length>0">Genres: {{show.genres}}</p>
            <p *ngIf="show.rating.average">Rating: {{show.rating.average}} / 10.0</p>
            <p *ngIf="show.language">Language: {{show.language}}</p>
            <p *ngIf="show.officialSite"><a href="{{show.officialSite}}">Official Site: {{show.officialSite}}</a></p>
            <span>&nbsp;&nbsp;</span>
        </div>
    </div>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <h3 style="color: aquamarine;" *ngIf="!(seasons===undefined)">Seasons:</h3>
    <div class="row">
        <div class="card border-0" *ngFor="let season of seasons">
            <div class="col-lg-12" *ngIf="season.image">
                <img class="card-img-top" src="{{season.image.medium}}" class="img-fluid"
                     width="170" height="200">
                <h6 class="card-title" style="text-align: center;">Season {{season.number}}</h6>
                <p class="card-title" style="text-align: center;" *ngIf="season.episodeOrder">Episodes: {{season.episodeOrder}}<p>
            </div>
        </div>
    </div>
    <h3 style="color: aquamarine;" *ngIf="!(cast===undefined)">Cast:</h3>
    <div class="row">
        <div class="card border-0" *ngFor="let member of cast">
            <div class="col-lg-12" *ngIf="member.character.image">
                <img class="card-img-top" src="{{member.character.image.medium}}" class="img-fluid"
                    alt="{{member.character.name}}" width="170" height="200">
                <h6 class="card-title" style="text-align: center;">{{member.person.name}} &nbsp; as</h6>
                <p class="card-title" style="text-align: center;">{{member.character.name}}<p>
            </div>
        </div>
    </div>
    
</div>